In [ ]:
import numpy as np

a = np.array([1,3,5], dtype='int16')
print(a)

b = np.array([
    [9.0, 8.0, 7.0,],
     [6.0, 5.0, 4.0]
])

print(b)

print(a.ndim) # dimension
print(b.ndim) # "
print(b.shape) # shape
print(a.dtype) # type

print(a.size) # Get total size
print(a.nbytes)

[1 3 5]
[[9. 8. 7.]
 [6. 5. 4.]]
1
2
(2, 3)
int16
3
6

#### **Accessing/Changing specific elements, row, columns, etc**

In [ ]:
import numpy as np

a = np.array([
    [1, 2, 3, 4, 5, 6, 7, 8],
    [9,10,11,12,13,14,15,16]
])

#print(a.shape)

# Get a specific element
#print(a[1,-4])

# Get specific row
#print(a[0, :])

# Get specific column
#print(a[:, 2])

# Getting more fancy
# [startindex:endindex:stepsize]

#asd = a[:, 0:8:2]
#print(asd)
print(a)
a[0,0] = 999
print(a)
a[0,:] = 777
print(a)
a[1,:] = 369
print(a)
a[0,:] = [8, 16, 32, 64, 128, 256, 512, 1024]
print(a)

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]]
[[999   2   3   4   5   6   7   8]
 [  9  10  11  12  13  14  15  16]]
[[777 777 777 777 777 777 777 777]
 [  9  10  11  12  13  14  15  16]]
[[777 777 777 777 777 777 777 777]
 [369 369 369 369 369 369 369 369]]
[[   8   16   32   64  128  256  512 1024]
 [ 369  369  369  369  369  369  369  369]]

In [ ]:
# 3d example
import numpy as np

a = np.array([
    [
        [1,2],
        [3,4],
        [6,7],
        [8,9]
    ],

    [
        [10,11],
        [12,13],
        [13,14],
        [15,16]
    ]
])


a[0,:,:] = 1222
print(a)

[[[1222 1222]
  [1222 1222]
  [1222 1222]
  [1222 1222]]

 [[  10   11]
  [  12   13]
  [  13   14]
  [  15   16]]]

In [ ]:
# Initializing Different Types of Arrays
import numpy as np

# 0s array
# print(np.zeros((5, 5, 3)))
# print("\n")

# 1s array
# b = np.ones((3,3,8), dtype='int32')
# print(b)


# any number
# c = np.full((4, 2, 4), 777)
# print(c)

#any other number
a = np.array([
    [1, 2, 3, 4, 5, 6, 7],
    [8, 9, 10, 11, 12, 13, 14]
])

# print(np.full_like(a, 4))

# Random decimal numbers
# np.random.rand(5,3)
# np.random.random_sample(a.shape)


# identity matrix
print(np.identity(6))

arr = np.array([[1, 2, 3]])
r1 = np.repeat(arr, 3, axis=0)
print(r1)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]
[[1 2 3]
 [1 2 3]
 [1 2 3]]

# Bro Code: Learn NumPy in 1 hour!üî¢
#####  https://www.youtube.com/watch?v=VXU4LSAQDSc

In [ ]:
# 00:05:07 multidimensional arrays üßä
import numpy as np

array0 = np.array([
    [1, 2, 3, 4, 5, 6, 7, 8],
    [9, 10, 11, 12, 13, 14, 15, 16],
    [17, 18, 19, 20, 21, 22, 23, 24],
    [25, 26, 27, 28, 29, 30, 31, 32]
])
print(array0)
array0 = array0*3
print(array0)
#print(np.ndim(array))


array1 = np.array([
    [['A', 'B', 'C'],
     ['D', 'E', 'F'],
     ['G', 'H', 'I']],

    [['J', 'K', 'L'],
     ['M', 'N', 'O'],
     ['P', 'Q', 'R']]
])

#print(array1)
#print(np.ndim(array1))
#print(array1.shape)

# not good: print(array1[n][n][n])
print(array1[1, 1, 2])    # good
word = array1[1, 1, 0] + array1[1, 1, 2] + array1[1, 1, 0]
word1 = array1[0, 0, 2] + array1[0,0,0] + array1[1, 2, 2]
word2 = array1[1, 2, 0] + array1[0, 1, 1] + array1[0,0,0]
print(word + " " + word1)

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]
 [17 18 19 20 21 22 23 24]
 [25 26 27 28 29 30 31 32]]
[[ 3  6  9 12 15 18 21 24]
 [27 30 33 36 39 42 45 48]
 [51 54 57 60 63 66 69 72]
 [75 78 81 84 87 90 93 96]]
O
MOM CAR

In [ ]:
# 00:12:54 slicing ‚úÇ
import numpy as np

array = np.array([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
])


# print(array[:,0:3])
# print(array[0:4, [0, 3]])
print(array)

array1 = array.copy()
array1[1:3, 1:3] = 0

print(array1)
print(array)
print(array[0:2, 0:2])
print(array[0:2, 2:4])
print(array[2:4, 0:2])
print(array[2:4, 2:4])

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
[[ 1  2  3  4]
 [ 5  0  0  8]
 [ 9  0  0 12]
 [13 14 15 16]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
[[1 2]
 [5 6]]
[[3 4]
 [7 8]]
[[ 9 10]
 [13 14]]
[[11 12]
 [15 16]]

In [ ]:
# 00:24:04 arithmetic ‚úñ

# Scalar arithmetic
# array = np.array([1,2,3])
# print(array + 3)
# print(array - 2)
# print(array * 4)
# print(array ** 5)

# Vectorized math functions
# array1 = np.array([1.01, 2.5, 3.99])
# print(array1)
# print(array1)

# print(np.sqrt(array1))
# print(np.ceil(array1))
# print(np.floor(array1))
# print(np.round(array1))

# EXERCISE
# radii = np.array([1, 2, 3])
# radii = np.pi * radii ** 2
# print(radii)

# Element-wise arithmetic
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
print(array1 + array2)
print(array1 - array2)
print(np.matmul(array1, array2))
array3 = np.array([32, 5, 10])
array4 = np.array([1, 2, 8])
print(np.matmul(array3, array4))

print(array1 + array2)
print(array1 - array2)
print(array1 * array2)
print(array1 / array2)
print(array1 ** array2)

[5 7 9]
[-3 -3 -3]
32
122
[5 7 9]
[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]
[  1  32 729]

In [ ]:
import numpy as np
# comparison operators
scores = np.array([91, 55, 100, 73, 82, 64])

print(scores[scores >= 70])
print(scores >= 60)
print(scores < 60)
scores[scores < 60] = 0
print(scores)

[ 91 100  73  82]
[ True False  True  True  True  True]
[False  True False False False False]
[ 91   0 100  73  82  64]

In [ ]:
import numpy as np
# 00:33:21 broadcasting üì°
# Broadcasting allows NumPy to perform operations on arrays
# with different shapes by virtuall expanding dimensions
# so they match the larger array's shape

# The dimensions have the SAME size
# OR
# One of the dimensions has a size of 1

'''
array1 = np.array([
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
])

array2 = np.array([
    [1],
    [2],
    [3],
    [4]
])

print(array1)
print(array1.shape)
print(array2)
print(array2.shape)
print(array1 * array2)
'''

array1 = np.array([
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
])

array2 = np.array([[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]])

print(array1.shape)
print(array2.shape)
print(array1 * array2)

(1, 10)
(10, 1)
[[  1   2   3   4   5   6   7   8   9  10]
 [  2   4   6   8  10  12  14  16  18  20]
 [  3   6   9  12  15  18  21  24  27  30]
 [  4   8  12  16  20  24  28  32  36  40]
 [  5  10  15  20  25  30  35  40  45  50]
 [  6  12  18  24  30  36  42  48  54  60]
 [  7  14  21  28  35  42  49  56  63  70]
 [  8  16  24  32  40  48  56  64  72  80]
 [  9  18  27  36  45  54  63  72  81  90]
 [ 10  20  30  40  50  60  70  80  90 100]]

In [ ]:
# 00:39:42 aggregate functions üìä
# use aggregate functions in order to:
# summarize data and
# typically return single value

import numpy as np
array = np.array([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
])

print(np.sum(array, axis=1))

'''
print(np.sum(array))
print(np.mean(array))
print(np.std(array))
print(np.min(array))
print(np.max(array))
print(np.argmin(array)) # index of min number
print(np.argmax(array)) # index of max number
'''

[15 40]

'\nprint(np.sum(array))\nprint(np.mean(array))\nprint(np.std(array))\nprint(np.min(array))\nprint(np.max(array))\nprint(np.argmin(array)) # index of min number\nprint(np.argmax(array)) # index of max number\n'

In [ ]:
# 00:43:48 filtering üß≤
import numpy as np

# Filtering = it refers to the process of selecting elements from an array
#             that match given condition/s

ages = np.array([
    [21, 17, 19, 20, 16, 30, 18, 65],
    [39, 22, 15, 99, 18, 19, 20, 21]
])

'''
mask = ages < 18
teenagers = ages[mask]
adults = ages[(ages >= 18) & (ages < 65)]
seniors = ages[ages >=65]
evens = ages[ages % 2 == 0]
odds = ages[ages % 2 != 0]
print(ages)
print(teenagers)
print(adults)
print(seniors)
print(evens)
print(odds)
'''

adults = np.where(ages >= 18, ages, 0)
print(adults)

[[21  0 19 20  0 30 18 65]
 [39 22  0 99 18 19 20 21]]

In [ ]:
# 00:52:03 random numbers üé≤
import numpy as np

# integers
rng = np.random.default_rng(seed=1) # random number generator is --rng--
print(rng.integers(1, 7))
print(rng.integers(1, 7, size=(16, 32)))

# floating number 0 - 1
print(np.random.uniform(low=-999, high=999))

asd = np.random.uniform(low=-999, high=999, size= 256)
print(asd)

3
[[4 5 6 1 1 5 6 2 2 6 3 2 5 2 3 4 4 1 1 6 5 6 4 5 2 3 5 1 2 1 3 6]
 [1 3 3 6 2 4 2 1 5 1 2 3 3 1 6 5 6 1 5 2 4 6 2 5 1 2 6 3 4 2 1 3]
 [4 3 5 3 4 5 6 3 1 5 4 6 3 3 1 3 4 5 6 2 4 5 2 3 6 4 4 5 4 6 5 1]
 [1 4 5 1 5 5 5 6 2 4 5 3 2 3 1 2 6 5 6 6 6 2 3 4 2 6 1 6 4 2 5 3]
 [6 6 2 3 2 5 4 6 5 6 6 6 1 1 3 3 6 5 3 4 4 6 1 3 5 3 6 6 5 3 6 1]
 [4 2 2 5 5 6 2 6 5 2 1 5 5 3 1 1 3 5 2 1 5 5 2 4 3 4 1 4 2 4 3 4]
 [1 3 4 5 3 1 5 4 4 1 3 6 6 2 4 1 5 2 3 6 4 6 2 5 6 1 2 1 2 2 1 6]
 [2 6 5 2 5 5 1 1 3 1 3 3 4 4 3 2 4 3 6 5 5 4 3 2 3 4 3 1 1 1 2 3]
 [2 2 2 5 2 6 4 1 6 6 5 1 5 5 5 5 4 3 6 6 5 3 4 4 1 1 3 4 2 2 1 6]
 [4 2 5 6 2 6 5 5 4 6 1 1 6 3 3 5 2 4 6 5 1 6 5 5 2 6 3 6 2 1 6 4]
 [3 6 6 1 4 5 5 4 4 4 2 1 3 5 6 6 2 1 6 5 5 5 3 6 4 4 3 3 3 5 4 1]
 [1 2 3 4 6 5 2 4 5 6 3 5 2 3 6 3 1 5 2 3 6 3 2 2 6 2 4 2 5 5 4 3]
 [3 6 5 3 1 1 3 3 3 6 3 5 1 3 2 1 4 1 3 5 5 4 4 2 6 2 5 1 4 2 2 3]
 [5 5 2 4 1 6 6 3 4 4 5 1 4 6 4 4 1 6 2 3 5 3 4 4 1 1 6 5 1 5 4 5]
 [1 5 5 6 2 3 1 1 1 3 2 5 2 4 4 2 3 6 6 2 6 2 5 3 5 4 6 3 6 6 1 1]
 [1 4 3 1 1 6 4 1 2 4 2 5 2 4 1 5 5 4 4 1 4 3 1 1 3 5 5 2 1 2 3 1]]
-355.06230630655523
[-8.76886628e+02 -4.41813930e+02  3.16655166e+02 -1.66433138e+02
  4.84516545e+02  2.41835791e+02  8.18306162e+02  2.10863795e+02
  8.53951377e+01 -5.22998133e+02  1.19438498e+02  6.95735791e+02
  7.80372592e+02 -6.49484192e+02 -9.53934351e+02  2.63570396e+02
 -2.87161257e+02 -6.74666805e+01 -8.41946571e+02  5.88724627e+02
 -4.18841929e+02 -4.78399657e+02  5.60786645e+01  2.96006817e+02
  3.31831107e+02 -9.14866394e+02  7.14406528e+02 -5.83867221e+02
 -8.84122154e+02 -3.27064873e+02 -9.52659964e+02  9.32887639e+02
 -7.70985151e+01  4.71691604e+02 -2.63508902e+02  4.65828538e+02
  6.67329944e+01 -3.43778910e+02  9.16931810e+02  4.42528155e+02
 -3.54991123e+02  9.61125929e+02  8.62291841e+02 -2.41064476e+02
 -5.04768326e+02 -7.15488666e+02 -6.11781130e+02  1.65822073e+02
  5.41054948e+02  4.95786235e+01 -3.46135699e+02 -9.38647359e+02
  4.82972952e+02  4.59458583e+02 -8.88757663e+02  6.66743507e+02
  4.35544272e+02  9.14008616e+02  3.80957631e+02 -4.42250728e+02
 -6.49531992e+02 -3.68653853e+02  5.12462856e+02  4.30523345e+02
 -1.93974158e+02 -9.10572640e+02  8.10941393e+02  2.25098684e+02
  1.04614606e+02  3.03913860e+02  6.86765447e+02  5.87295700e+02
 -4.66107170e+02 -1.20115701e+02 -4.44559318e+02 -8.74134128e+02
  2.90238541e+02 -2.38191184e+01  9.35226141e+02  6.94744682e+02
  9.77680038e+02 -5.89144425e+02  9.72798098e+02 -6.42219651e+02
  2.80266559e+02  2.04199178e+02  4.63613053e+02  4.34147378e+02
  9.52775149e+02  7.05058746e+02 -1.65273565e+02 -4.38305238e+02
  7.86532922e+02 -7.30456235e+02  3.65317505e+02  6.79990593e+02
 -9.03816527e+02  3.67754200e+02  8.04851470e+02  5.05880288e+02
  2.48407432e+02 -5.44853511e+02  8.54231409e+02  5.93773872e+02
  1.59829365e+02 -2.70164116e+02  9.16881908e+02 -6.77979859e+02
 -6.19911000e+02 -8.53680905e+02  1.75721785e+02 -4.04130662e+02
 -9.31594269e+02 -3.48510956e+02 -3.81693999e+02 -4.96510026e+02
 -5.60337244e+02  9.22957462e+02  2.97889795e+02 -4.73164774e+02
 -7.96866703e+02  4.16829174e+02 -4.91123846e+02 -8.23930494e+02
  1.09433852e+02 -8.34546708e+02  3.71925564e+01 -9.52944165e+02
 -6.18849747e+02  1.14779864e+02  8.02728992e+02 -7.45904852e+02
  4.90477430e+02  3.91723767e+02  1.07265588e+02 -7.54761114e+02
 -8.10106034e+01  5.37220534e+02  2.73331947e+02 -6.51210995e+02
  2.16978048e+02  2.90522992e+02  6.03440662e+02 -5.80039364e+02
 -2.57780791e+02  5.89409650e+02  7.63004656e+02  5.77667607e+02
  4.52054218e+02 -3.11297980e+02 -6.01612519e+02  3.00812768e+02
 -3.11689729e+02  9.25083923e+02  5.39202763e+02 -8.42622950e+02
  5.52830394e+02 -3.83275127e+02 -5.81045895e+02 -5.10676054e+02
  2.28568649e+02 -9.54090369e+02 -1.63593125e+02  5.16702440e+02
 -8.84438580e+02 -2.29937406e+02 -4.08390083e-01 -7.57680533e+02
 -8.73144814e+02  3.31572064e+02  6.41833504e+02 -6.97375375e+01
  5.13103978e+02  1.31808898e+02  1.36904713e+02  2.27567279e+02
  5.29894290e+01 -2.99083156e+02 -9.90949999e+02 -8.25103099e+02
  1.46642321e+02  7.70898503e+02  4.76304862e+02  7.53809643e+02
  1.23608856e+02  7.61568117e+02 -8.39313561e+02  3.39544588e+01
 -7.63648040e+02 -9.54419471e+02  4.87781631e+02  1.01057433e+01
  7.70932443e+02 -5.87600739e+02 -8.13004440e+02 -5.18121285e+02
 -6.12658853e+02  8.85627228e+02 -2.63064108e+02 -2.95478585e+02
  9.35431036e+02 -8.43470541e+02 -1.02873221e+02 -4.59509484e+01
 -6.72428404e+01 -2.37301468e+02  6.03693648e+02 -3.97489986e+02
 -5.76585859e+02  1.85869790e+02 -2.56356509e+02 -8.91223216e+01
 -5.09335082e+02  8.12323107e+02  6.54563855e+02 -3.22288849e+01
 -7.82598719e+02 -1.93308838e+02 -6.85525319e+02  1.89564071e+02
 -7.03520106e+02  7.54075565e+02  5.47223977e+02 -3.78068898e+02
  7.95882684e+02 -7.21967192e+02  8.29195761e+02  5.43757284e+02
  6.97658955e+02 -3.20288464e+02  6.38869951e+02 -6.90793853e+02
  5.73478686e+00 -9.72565580e+02 -5.05101921e+01  2.17312271e+02
  1.58602669e+02  8.84798276e+02  8.04970346e+02 -4.39722062e+02
  4.29618199e+02  8.39987684e+02 -3.85836043e+02 -3.85004184e+02
  4.66308567e+01  4.93877892e+02  7.95576543e+02 -3.31737678e+02
  5.32648703e+02 -6.77103581e+01  5.96271286e+02 -7.61479000e+02
 -7.25115664e+02  5.57029814e+02 -2.76795083e+02  3.89998967e+02]

In [ ]:
print("D√çA 3 - NUMPY 100% CERRADO")
print("="*50)
np.random.seed(42) # la semilla (como en el minecraft)
print("Mi primer 'modelo' generativo (fake):")
for i in range(10):
    print(np.random.randint(1, 7), end=" ")  # tirando dados como un transformer

D√çA 3 - NUMPY 100% CERRADO
==================================================
Mi primer 'modelo' generativo (fake):
4 5 3 5 5 2 3 3 3 5